@model EmployeeDetails
<form asp-action="Delete">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Create Coupon</h1>
        <input asp-for="EmployeeId" hidden />

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2"  style="font-size:20px;"> Full Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="FullName" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">User Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Username" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Password</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Password" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;"> Email Id</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;"> Position</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Position" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Department</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Department" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Hire Date</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HireDate" disabled class="form-control" />
            </div>
            <div class="col-5 offset-2">

                <a asp-controller="Employee" asp-action="Index" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />

            </div>

        </div>

        <div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}